venv_offering/
model_staging/config.json
model_staging/generation_config.json
model_staging/LICENSE
model_staging/model-00001-of-00002.safetensors
model_staging/model-00002-of-00002.safetensors
model_staging/model.safetensors.index.json
model_staging/pytorch_model-00001-of-00002.bin
model_staging/pytorch_model-00002-of-00002.bin
model_staging/pytorch_model.bin.index.json
model_staging/README.md
model_staging/special_tokens_map.json
model_staging/tokenizer_config.json
model_staging/tokenizer.json
model_staging/tokenizer.model
models/neuralchat_int4/chat_template.jinja
models/neuralchat_int4/config.json
models/neuralchat_int4/generation_config.json
models/neuralchat_int4/openvino_config.json
models/neuralchat_int4/openvino_model.bin
models/neuralchat_int4/openvino_model.xml
models/neuralchat_int4/special_tokens_map.json
models/neuralchat_int4/tokenizer_config.json
models/neuralchat_int4/tokenizer.json
src/cpp/build/cmake_install.cmake
src/cpp/build/CMakeCache.txt
src/cpp/build/executive_shard
src/cpp/build/Makefile
src/cpp/build/CMakeFiles/cmake.check_cache
src/cpp/build/CMakeFiles/CMakeConfigureLog.yaml
src/cpp/build/CMakeFiles/CMakeDirectoryInformation.cmake
src/cpp/build/CMakeFiles/Makefile.cmake
src/cpp/build/CMakeFiles/Makefile2
src/cpp/build/CMakeFiles/progress.marks
src/cpp/build/CMakeFiles/TargetDirectories.txt
src/cpp/build/CMakeFiles/3.28.3/CMakeCCompiler.cmake
src/cpp/build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
src/cpp/build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_C.bin
src/cpp/build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
src/cpp/build/CMakeFiles/3.28.3/CMakeSystem.cmake
src/cpp/build/CMakeFiles/3.28.3/CompilerIdC/a.out
src/cpp/build/CMakeFiles/3.28.3/CompilerIdC/CMakeCCompilerId.c
src/cpp/build/CMakeFiles/3.28.3/CompilerIdCXX/a.out
src/cpp/build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
src/cpp/build/CMakeFiles/executive_shard.dir/build.make
src/cpp/build/CMakeFiles/executive_shard.dir/cmake_clean.cmake
src/cpp/build/CMakeFiles/executive_shard.dir/compiler_depend.make
src/cpp/build/CMakeFiles/executive_shard.dir/compiler_depend.ts
src/cpp/build/CMakeFiles/executive_shard.dir/depend.make
src/cpp/build/CMakeFiles/executive_shard.dir/DependInfo.cmake
src/cpp/build/CMakeFiles/executive_shard.dir/executive_shard.cpp.o
src/cpp/build/CMakeFiles/executive_shard.dir/executive_shard.cpp.o.d
src/cpp/build/CMakeFiles/executive_shard.dir/flags.make
src/cpp/build/CMakeFiles/executive_shard.dir/link.txt
src/cpp/build/CMakeFiles/executive_shard.dir/progress.make
