# --- Project Specific Models & Environments ---
models/
model/
model_staging/
model_staging_qwen/
model_user-bckp/
venv_offering/

# --- C++ Build Artifacts ---
src/cpp/build/

# --- Source Python Modules & Contributions ---
src/python/openvino_contrib/
src/python/intel-npu-top/
src/python/npu_cache/
src/python/scripts_user-reported-broken/
src/python/llama.cpp/

# --- Python Build Artifacts ---
src/python/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# --- Absolute Paths (Specific to local environment) ---
/home/phil2/Super-Intel-NPU/current/Super-Intel-NPU/src/python/openvino_contrib/
/home/phil2/Super-Intel-NPU/current/Super-Intel-NPU/src/python/intel-npu-top/
/home/phil2/Super-Intel-NPU/current/Super-Intel-NPU/src/python/npu_cache/
/home/phil2/Super-Intel-NPU/current/Super-Intel-NPU/src/python/scripts_user-reported-broken/
/home/phil2/Super-Intel-NPU/current/Super-Intel-NPU/src/python/llama.cpp/
/home/phil2/Super-Intel-NPU/current/Super-Intel-NPU/src/python/__pycache__/
cache/model_phi-4-onnx/models--microsoft--phi-4-onnx/refs/main
